.slider {
    position: relative;
    height: 35rem;
    @media (max-width: 991px) {
        height: 50vh;
    }
    .slide {
        width: 100%;
        position: absolute;
        height: 35rem;
        @media (max-width: 991px) {
            height: 50vh;
        }
        &-bg {
            height: 35rem;
            position: relative;
            @media (max-width: 991px) {
                height: 50vh;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: block;
                background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(255,255,255,0) 100%);
            }
        }
        &-pane {
            position: absolute;
            top: 5rem;
            left: 5rem;
            color: #fff;
            @media (max-width: 991px) {
                top: 1rem;
                left: 1rem;
            }
            .title {
                font-size: 2.5rem;
                @media (max-width: 991px) {
                    font-size: 2rem;
                }
            }
            .meta {
                font-size: 1.2rem;
                display: inline;
                .pi {
                    color: orange;
                    margin-right: 10px;
                }
                @media (max-width: 991px) {
                    font-size: 1rem;
                }
            }
            .description {
                font-size: 1.2rem;
                width: 75%;
                @media (max-width: 991px) {
                    font-size: 1rem;
                }
            }
        }
    }
}