<div class="container">
    <div class="grid">
        <div class="col-12 genres-links">
            <ng-container *ngIf="genres$ | async as genres">
                <a *ngFor="let genre of genres" [routerLink]="'/genres/' + genre.id" role="button" aria-hidden="true">
                    {{ genre.name}}
                </a>
            </ng-container>
        </div>
    </div>
    <ng-container *ngIf="shows$ | async as showsList">
        <div class="grid">
            <div class="col-6 md:col-4 lg:col-3 xl:col-2" *ngFor="let item of showsList; trackBy: showsListTrackBy">
                <app-show-item [showItem]="item" [showType]="showsType"></app-show-item>
            </div>
        </div>
    </ng-container>
    <div class="grid">
        <div class="col-12">
            <p-paginator (onPageChange)="onPageChange($event)" [rows]="20"
                [totalRecords]="this.totalRecords()"></p-paginator>
        </div>
    </div>
</div>